# Tiatnic_experiment 
We are gonna start with importing libraries

In [4]:
import pandas as pd

from sklearn.tree import DecisionTreeClassifier    #decision tree classification
from sklearn.ensemble import RandomForestClassifier    #random forest (more than 1 decision tree)
from sklearn.ensemble import ExtraTreesClassifier  
from sklearn.model_selection import train_test_split    #spliting data for test and train part
from sklearn.metrics import accuracy_score    #measuring model accuracy

Read the data

In [6]:
path = "input_data/train.csv"

df = pd.read_csv(path)
df.sample(7)    # sample() is better than head() or tail(), because sample are random

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
598,599,0,3,"Boulos, Mr. Hanna",male,NaN,0,0,2664,7.2250,NaN,C
858,859,1,3,"Baclini, Mrs. Solomon (Latifa Qurban)",female,24.0,0,3,2666,19.2583,NaN,C
434,435,0,1,"Silvey, Mr. William Baird",male,50.0,1,0,13507,55.9000,E44,S
765,766,1,1,"Hogeboom, Mrs. John C (Anna Andrews)",female,51.0,1,0,13502,77.9583,D11,S
297,298,0,1,"Allison, Miss. Helen Loraine",female,2.0,1,2,113781,151.5500,C22 C26,S
681,682,1,1,"Hassab, Mr. Hammad",male,27.0,0,0,PC 17572,76.7292,D49,C
641,642,1,1,"Sagesser, Mlle. Emma",female,24.0,0,0,PC 17477,69.3000,B35,C

# Remember! The most important git command is.....

# $ git status